body {
  position: relative;
  background-color: #F08080;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 55%;*/
  text-align: center;
  /*margin-top: 100px;*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  /*background-color: red;*/

}

#content img{
  width: 70%;
}
#nextWord {
  margin-top: 20px;
  background-color: white;
  display: none;
}
#nextWord:hover {
background-color: white;
}
