<html>
  <head>
    <title>tongue</title>
    <link href="normalize.css" rel="stylesheet"/>
    <link href="skeleton.css" rel="stylesheet"/>
    <link href="index.css" rel="stylesheet"/>
  </head>

  <body>

    <h1>You're logged in {{user.name}}!</h1>
    <p>What do you want to do?</p>
    <br>
    <a href="/">Practice pronounciation, yeeeeahhh!</a>
    <br>
    <br>
    <a href="/logout">Logout, yeeeeahhh!</a>

    <script id="word-template" type="text/x-handlebars-template"></script>
    <script type='text/javascript' src='/bundle.js'></script>
  </body>
</html>
