  <head>
    <title>tongue</title>
    <link href="/normalize.css" rel="stylesheet"/>
    <link href="/skeleton.css" rel="stylesheet"/>
    <link href="/index.css" rel="stylesheet"/>
  </head>

  <body>
    <div class='container six columns offset-by-three'>

      <h1>Tongue</h1>

      {{#if user}}
      <div>Hello {{user.name}}!</div>

        <div id='languageBtns'>
          <p>What language do you want to practice?</p>
          <br>
          <button id="english">English</button>
          <br>
          <br>
          <button id="french">French</button>
        </div>

      <div id='content'></div>

      <div id='button'>
        <button id="nextWord">Next Word</button>
      </div>

      <br>

      <a href="/logout">Logout</a>
      {{else}}
      <a href="/auth/facebook">Login with Facebook</a>
      {{/if}}

    </div>

    <script id="word-template" type="text/x-handlebars-template"></script>
    <script type='text/javascript' src='/bundle.js'></script>
  </body>
