<html>
  <head>
    <title>tongue</title>
    <link href="index.css" rel="stylesheet"/>
  </head>

  <body>

    <h1>[app name]</h1>

    {{#if user}}
    <div>Hello {{user.name}}</div>
    {{/if}}

    <div id='content' class='content'>
    </div>

    <div id='button'>
      <button id="nextWord">Next Word</button>
    </div>

    <a href="/auth/facebook">Login with Facebook</a>
    <br>
    <a href="/logout">Logout</a>

    <script id="word-template" type="text/x-handlebars-template"></script>
    <script type='text/javascript' src='/bundle.js'></script>
  </body>
</html>
