<html>
  <head>
    <title>tongue</title>
    <link href="/normalize.css" rel="stylesheet"/>
    <link href="/skeleton.css" rel="stylesheet"/>
    <link href="/index.css" rel="stylesheet"/>
  </head>

  <body>

    <div class='container six columns offset-by-three'>

    <h3>What language do you want to practice {{user.name}}?</h3>
    <br>
    <button id="english">English</button>
    <br>
    <br>
    <button id="french">French</button>

    </div>

    <script id="word-template" type="text/x-handlebars-template"></script>
    <script type='text/javascript' src='/bundle.js'></script>
  </body>
</html>
