{{#each words}}

<div class="word">
  <p style="font-family:courier; font-size:160%;"><strong>{{this.word}}</strong></p>
  <p><i>{{this.respelling}}</i></p>
</div>

<div class="image">
  <img src="{{this.image_url}}">
</div>

  <br>

<div class="sound">
  <audio controls autoplay>
  <source src="{{this.sound_url}}" type="audio/mpeg">
  Your browser does not support the audio tag.
  </audio>
</div>

{{/each}}
