{{#each words}}

<div class="word">
  <p>{{this.word}}</p>
</div>

  <br>

<div class="image">
  <img src="{{this.image_url}}">
</div>

  <br>

<div class="sound">
  <audio controls>
  <source src="{{this.sound_url}}" type="audio/mpeg">
  Your browser does not support the audio tag.
  </audio>
</div>
  
{{/each}}
